<!DOCTYPE html>
<html lang="cs-cz">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>
<header th:replace="~{fragments/layout.html :: header}"></header>
<div class="container">
    <article>
        <div class="row">
            <div class="col text-center text-uppercase">
                <h1>Portfolio</h1>
            </div>
        </div>
        <section>




        </section>
    </article>
</div>
<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>