<!DOCTYPE html>
<html lang="cs-cz">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>
<header th:replace="~{fragments/layout.html :: header}"></header>

<!-- Zde později budeme vypisovat, že email, kterým se uživatel pokouší přihlásit, je již používán -->
<div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>

<article>
    <div class="container text-center">
        <header>
            <h1>Registrace</h1>
        </header>

        <section>
            <div class="row">
                <div class="col-4 offset-4">
                    <form th:action="@{/account/register}" th:object="${personDTO}" method="post" class="d-flex flex-column gap-2">
                        <div class="form-group">
                            <label for="email">Uživatelský email</label>
                            <input id="email" name="email" th:field="*{email}" class="form-control"/>
                            <small class="text-danger" th:errors="*{email}"></small>
                        </div>
                        <div class="form-group">
                            <label for="password">Heslo</label>
                            <input id="password" name="password" type="password" th:field="*{password}" class="form-control"/>
                            <small class="text-danger" th:errors="*{password}"></small>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Heslo pro zopakování</label>
                            <input id="confirmPassword" name="password" type="password" th:field="*{confirmPassword}" class="form-control"/>
                            <small class="text-danger" th:errors="*{confirmPassword}"></small>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Registrovat</button>
                        </div>
                        <div class="form-group">
                            <p>
                                <a role="button" th:href="@{/account/login}" class="btn btn btn-outline-primary">Přihlásit se</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</article>
<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>
