<!DOCTYPE html>
<html lang="cs-cz">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>
<header th:replace="~{fragments/layout.html :: header}"></header>
<div class="container">
    <div class="row">
        <div class="col">
            <img src="/static/images/avatar.png" alt="avatar">
        </div>
        <div class="col">
            <!--<h3 th:text="${user.firstName}"></h3>-->

        </div>
        <div class="col">

        </div>
    </div>
</div>
<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>