<!DOCTYPE html>
<html lang="cs-cz">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>
<header th:replace="~{fragments/layout.html :: header}"></header>
<div class="container">
    <div class="row offset-4">

        <div class="col-2">
            <img src="..." class="object-fit-cover border rounded" alt="...">
        </div>
        <div class="col-3">
            <h3 th:text="${user.firstName}"></h3> <h3 th:text="${user.secondName}"></h3>
            <p th:text="${user.address}"></p>
            <p th:text="${user.street}"></p>
            <p th:text="${user.psc}"></p>

        </div>
        <div class="col-2">
            <p th:text="${user.email}"></p>
            <p th:text="${user.phoneNumber}"></p>

        </div>

    </div>
</div>
<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>