<!DOCTYPE html>
<html lang="cs-cz">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>
<header th:replace="~{fragments/layout.html :: header}"></header>
<!-- stavové hlášky -->
<div class="alert alert-success alert-dismissible fade show" role="alert" th:text="${success}" th:if="${success}"></div>
<div class="alert alert-danger alert-dismissible fade show" role="alert" th:text="${error}" th:if="${error}"></div>


<div class="container">
    <article>
        <div class="row">
            <div class="col text-center text-uppercase m-3">
                <h1>Pojištěnci</h1>
            </div>
        </div>
        <section>
            <div class="row">
                <div class="col text-center" sec:authorize="hasRole('ADMIN')">
                    <a class="btn btn-outline-primary btn-lg m-3" th:href="@{/users/create}">Nový pojištěnec</a>
                </div>
            </div>
                <div class="row">
                    <div class="col-8 offset-2 text-center">
                    <table class="table align-middle bg-white table-hover">
                        <thead class="bg-light">
                        <tr>
                            <th>Jméno</th>
                            <th>Bydliště</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user:${users}">
                            <td>
                                <div class="d-flex align-items-center">
                                    <img
                                            th:src="@{/images/avatar.png}"
                                            alt=""
                                            style="width: 45px; height: 45px"
                                            class="rounded-circle"
                                    />
                                    <div class="ms-3">
                                        <p class="fw-bold mb-1">
                                            <a th:href="@{'/users/' + ${user.userId}}" th:text="${user.firstName}"></a>
                                            <a th:href="@{'/users/' + ${user.userId}}" th:text="${user.secondName}"></a>
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="fw-normal mb-1" th:text="${user.address}"></p>
                                <p class="text-muted mb-0" th:text="${user.street}"></p>
                            </td>
                            <td>
                                <p sec:authorize="hasRole('ADMIN')">
                                <a role="button" class="btn btn-outline-primary" th:href="@{'/users/edit/' + ${user.userId}}">
                                    Upravit
                                </a>
                                <a role="button" class="btn btn-outline-danger" th:href="@{'/users/delete/' + ${user.userId}}">
                                    Smazat
                                </a>
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>

                </div>
            </div>
        </section>
    </article>
</div>
<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>